*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Google Fonts */

.raleway-primary-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-logo-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Common styles */

.primary-color{
    color: #4E47FF;
}
.primary-btn:hover{
  background-color: #4E47FF;
  opacity: 50%;
}
.primary-btn{
  background-color: #4E47FF;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  color: #ffffff;
}
/* header section styles start from here */

.main{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  
}
header{
  background-image: url("../asserts/Hero-bg.png");
  background-size: cover;
}
.nav-list-container{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 50px 150px;

}
.logo{
  font-weight: 600;
  font-size: 34px;
}
.banner-container{
  text-align: center;
  font-size: 48px;
  padding:150px 0;
}
.banner-title{
  padding-bottom: 36px;
}
/* header section styles end here */
/* action section styles start from */
.action-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 116px 0;
 }
.action-title{
  font-weight: 600;
  font-size: 42px;
}
.action-description{
  color: #252432;
  padding-top: 23px;
  padding-bottom: 23px;
}
.action-img{
  border-radius: 48px;
}
/* action section styles end */
/* productive section styles start form here */
.productive-continer{
  text-align: center;
  background-color:rgba(78,71,255,0.1);
  border-radius: 24px;
  padding: 50px 142px;
  margin-bottom: 116px;

}
.productive-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productive-title{
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  color: #252432;
  padding-bottom: 40px;
}

.productive-item-number{
  color: #4E47FF;
  font-size: 80px;
  font-weight: 600;
  padding-bottom: 16px;
}
.productive-item-name{
  color: #000000;
  opacity: 50%;
}
/* productive section styles end here */
/* User feedback section styls start from here */
.user-feedback-container{
  margin-bottom: 116px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.star-icon{
  color: #FFB805;
}
.user-feedback-title{
  text-align: center;
  color: #252432;
  font-weight: 600;
  font-size: 42px;
}
/* User feedback section styls end here */

.user-profile{
  display: flex;
  align-items: start;
  margin-top: 16px;
  gap: 8px;
}
.profile-img{
  border-radius: 50%;
}
.user-type{
  margin: 16px 0;
}
/* Focus Better Section Styles Start */
.focus-better-container{
 text-align: center;
 margin-bottom: 116px;
}
.focus-better-title{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 16px;
}
.btn-focus{
  display: block;
  margin: 16px auto;  
}
.focus-better-img{
  border-radius: 48px;
}

/* Focus Better Section Styles End */
/* get in touch section style start from here */
.get-in-touch-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}
.get-in-touch-title{
  font-weight: 600;
  font-size: 80px;
}
.get-in-touch-input{
  border: 1px solid #D6DDED;
  border-radius: 10px;
  padding: 20px 32px;
  margin-bottom: 18px;
}
form  label{
  font-size: 18px;

}
.get-in-touch-btn{
 width: 100%;

}
/* get in touch section style end here */